@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Ubuntu Sans", sans-serif;
}

:root{
    --color-primary: #100223;
    --color-secundary: #00eeff;

    --color-secundary-shadow: #00eeff97;

    --transition: all .5s ease;
}

body{
    background: url(assets/wallpaper-logo-kaua.jpg);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    & .main{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 2.5%;
        margin-left: -50px;

        & .about{
            & .header{
                & .me{
                    height: 185px;
                    width: 185px;
                    border-radius: 50%;
                    border: 2.5px solid var(--color-primary);
                    transition: var(--transition);
                    box-shadow: 2px 2px 25px 2px var(--color-secundary-shadow);
                }
                
                & img:hover{
                    transform: scale(1.2);
                    transition: var(--transition);
                }
                
                & .socials{
                    text-align: center;
                    padding: 35px 35.5%;
                    width: 250px;
                    height: 100px;
                    display: flex;
            
                    & .icon-link{
                        margin: 0 15px;
                        font-size: 10px;

                        & .icons{
                            height: 35px;
                            transition: var(--transition);
                        }
                        
                        & .icons:hover{
                            background: var(--color-secundary);
                            border-radius: .5rem;
                            transition: var(--transition);
                        }

                    }

                }

            }

            & .description{
                width: 50%;
                text-align: justify;
                margin-left: 35%;
                
                & h1{
                    font-weight: 400;
                    letter-spacing: 2.5px;
                    color: #000;
                }

                & h1::after{
                    content: "";
                    width: 100%;
                    height: 5px;
                    margin-left: -20%;
                    background: var(--color-secundary);
                    border-radius: .5rem;
                    display: block;
                }

                & p{
                    margin: 15px 0 0 -35% ;
                    color: #000;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                }
            }

        }

        & .seta{
            padding: 5px;
            width: 4.5%;
            border-radius: 50%;
            margin: 9.5% 0 0 4%;
            background: transparent;
            border: 1px solid var(--color-primary);
            transition: var(--transition);
            
            
            & a img{
                height: 6ls5px;
            }
            
        }
        
        & .seta:hover{
            transition: var(--transition);
            transform: scale(1.2);
            border: 1px solid var(--color-secundary);
        }

        /* .links{
            
        } */
    }
}
